<div class="row featured hide-on-small-only">
<h1 class="text-left-title-featured blue darken-4">Trending</h1>
{{#get "posts" limit="4" filter="featured:true" order="published_at desc" as |featured| }}
  {{#foreach featured}}
      <div class="col m6">
          <article class="hoverable">
            <a href="{{url}}"><img class="content-images-featured" src="{{#if image}}{{image}}{{else}}{{asset "images/no-pic-available.jpg"}}{{/if}}" />
            </a>
                      <h1 class="text-left-title-featured blue darken-3 truncate"><a href="{{url}}">{{title}}</a></h1>
          </article>
      </div>
 {{/foreach}}
 {{/get}}
</div>
