  <header>
    <nav class="red darken-4">
<div class="nav-wrapper red darken-4">
 <a href="#" class="brand-logo">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="small mdi-navigation-menu"></i></a>
        <p class="blogtitle"><a href="{{@blog.url}}" class="headerurl">{{@blog.title}}</a></p>
                                   </h1>



         <ul id="nav-mobile" class="right hide-on-med-and-down">

      <li><a href="{{@blog.url}}"> Home</a></li>

                         <!-- Dropdown Trigger -->
<li>  <a class='dropdown-button' href='#' data-activates='dropdown1'>Windows 10</a></li>

<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
<li>        <a href="{{@blog.url}}/tag/windows10mobile">Windows 10 Mobile</a></li>
<li>        <a href="{{@blog.url}}/tag/windows10">Windows 10</a></li>
   <li><a href="{{@blog.url}}/tag/redstone">Redstone</a></li>

</ul>
<li><a href="{{@blog.url}}/tag/review">Reviews</a></li>
<li>  <a class='dropdown-button' href='#' data-activates='dropdown2'>Other</a></li>

<!-- Dropdown Structure -->
<ul id='dropdown2' class='dropdown-content'>
  <li> <a href="http://www.michaelboumann.info/index_en.html" target="_blank">About me</a></li>
</ul>

  <li> <a href="https://www.microsoft.com/store/apps/9nblggh5j8n7?ocid=badge"><img src="https://assets.windowsphone.com/1f857a43-e8b0-4633-8543-bc49726af25b/Dutch-get-it-from-MS_InvariantCulture_Default.png" srcset="https://assets.windowsphone.com/e1e13e2a-538b-4365-b316-da75f56b8bd7/Dutch_get-it-from-MS_InvariantCulture_Default.png 2x"  alt="Download het van Microsoft" /></a></li>
    </ul>


<ul id="slide-out" class="side-nav">

  <a href="#" class="brand-logo">
        <p class="blogtitle"><a href="{{@blog.url}}" class="headerurl">{{@blog.title}}</a></p>
         <li>        <a href="{{@blog.url}}"> Home</a></li>
        <li>        <a href="{{@blog.url}}/tag/windows10mobile">Windows 10 Mobile</a></li>
     <li>        <a href="{{@blog.url}}/tag/windows10">Windows 10</a></li>
     <li>        <a href="{{@blog.url}}/tag/redstone">Redstone</a></li>
         <li>        <a href="{{@blog.url}}/tag/review">Reviews</a></li>
    <li> <a href="http://www.michaelboumann.info/index_en.html" target="_blank">About me</a></li>
   <li><a href="http://www.twitter.com/hxkclan" target="_blank">Twitter</a></li>
  <li><a href="http://www.github.com/hxkclan" target="_blank">Github</a></li>
</ul>

</div>
</nav>

</div>
</nav>

</header>
