  <header>

<nav class="blue darken-4">
  <div class="nav-wrapper">
    <p class="blogtitle"><a href="{{@blog.url}}" class="headerurl">{{@blog.title}}</a></p>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <!-- Loop through the navigation items -->
      {{#foreach navigation}}
      <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
      {{/foreach}}
      <!-- End the loop -->
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <!-- Loop through the navigation items -->
      {{#foreach navigation}}
      <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
      {{/foreach}}
      <!-- End the loop -->
</ul>
  </div>
</nav>
</header>
