<header>
    <div class="navbar-fixed">
    <nav class="accentcolor">
      <!-- navbar for tablets and up -->
      <div class="nav-wrapper hide-on-small-only">
        <!-- check if a blog cover is active -->
        {{#if @blog.logo}}
        <img src="{{@blog.logo}}" alt="blog logo" class="logo left" />
        {{/if}}

        <p class="brand-logo left">
            <a href="{{@blog.url}}" class="headerurl">{{@blog.title}}</a>
        </p>

         <ul id="nav-mobile" class="right hide-on-med-and-down">

           <!-- Loop through the navigation items -->
           {{#foreach navigation}}
           <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
           {{/foreach}}
           <!-- End the loop -->
         </ul>
         <a href="#" data-activates="slide-out" class="button-collapse right"><i class="fa fa-bars" aria-hidden="true"></i></a>

<ul id="slide-out" class="side-nav">
    <!-- Loop through the navigation items -->
    {{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
    <!-- End the loop -->
</ul>

  </div>
  </nav>



  <nav class="navbar-fixed accentcolor hide-on-med-and-up">
    <div class="nav-wrapper">
      <p class="brand-logo center">
          <a href="{{@blog.url}}" class="headerurl">{{@blog.title}}</a>
      </p>
    </ul>
  </div>
  </nav>

  <nav class="mobile-menu navbar-fixed accentcolor hide-on-med-and-up">
    <div class="nav-wrapper">
      <div class="center-align">
        <ul>
        {{#foreach navigation}}
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
      </ul>
      </div>
    </ul>
  </div>
  </nav>

</div>

</header>
