<header>
    <div class="navbar-fixed">
    <nav class="white">
      <div class="nav-wrapper">
        <a href="#" data-activates="slide-out" class="button-collapse left"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <!-- check if a blog cover is active -->
        {{#if @blog.logo}}
        <a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="blog logo" class="logo left" /></a>
        {{/if}}

        <p class="brand-logo site-title truncate">
            <a href="{{@blog.url}}" class="headerurl">{{@blog.title}}</a>
        </p>

    <ul id="nav-mobile" class="hide-on-med-and-down right">
        <!-- Loop through the navigation items -->
        {{#foreach navigation}}
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
        <!-- End the loop -->
    </ul>

    <ul id="slide-out" class="side-nav">
        <p class="text-left-title-featured-sidebar text-left-title-featured-sidebar-collapse sidenav-menu-header">{{t "Menu"}}</p>
        <!-- Loop through the navigation items -->
        {{#foreach navigation}}
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
        <!-- End the loop -->
    </ul>

</div>
</nav>

</div>

</header>
