<header>
<nav class="navbar navbar-expand-md navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    {{#if @blog.logo}}
    <a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="blog logo" class="logo left" /></a>
    {{/if}}
  <a href="{{@blog.url}}" class="navbar-brand headerurl">{{@blog.title}}</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">

                <!-- Loop through the navigation items -->
        {{#foreach navigation}}
        <li class="nav-item{{#if current}} active{{/if}}">
            <a href="{{url absolute="true"}}" class="nav-link">{{label}}</a>
        </li>
        {{/foreach}}
        <!-- End the loop -->
    </ul>
  </div>
</nav>

</header>
