<header>

<nav class="navbar navbar-expand-md navbar-dark justify-content-start">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="{{@blog.url}}" class="navbar-brand headerurl">{{@blog.title}}</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">

                <!-- Loop through the navigation items -->
        {{#foreach navigation}}
        <li class="menu-item{{#if current}} active{{/if}}">
            <a href="{{url absolute="true"}}" class="nav-link">{{label}}</a>
        </li>
        {{/foreach}}
        <!-- End the loop -->
    </ul>
  </div>
</nav>

    {{#if @blog.logo}}
    
    <div class="logo-main">
    <a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="blog logo" class="logo left" /></a>
    </div>
    <div class="text-main">
      {{#if @blog.description}}
        {{@blog.description}}
      {{/if}}
    </div>
    {{/if}}


{{#is "index, home"}}
{{#if @blog.cover_image}}

  <img src="{{@blog.cover_image}}" alt="Cover image" class="cover-image" /></a>

  <div class="top-socials">
        <a href="{{@blog.url}}/rss" target="_blank"><i class="fas fa-rss"></i></a>
        {{#if @blog.facebook}}
          <a href="{{facebook_url @blog.facebook}}" target="_blank"><i class="fab fa-facebook"></i></a>
        {{/if}}
        {{#if @blog.twitter}}
          <a href="{{twitter_url @blog.twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>
        {{/if}}  
  </div>
  {{/if}}
  
{{/is}}

{{#is "post, page"}}

        <div class="post-image">
          <img class="posthead-image" src="{{#if feature_image}}{{img_url feature_image}}{{else}}{{asset "images/no-pic-available.jpg"}}{{/if}}" title="{{title}}" alt="Header image of {{title}}" />
        </div>

{{/is}}
</header>
