<header>

<nav class="navbar navbar-expand-md navbar-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    {{#if @blog.logo}}
    <a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="blog logo" class="logo left" /></a>
    <img src="{{@blog.logo}}" alt="logo" class="logo-top" />
    {{/if}}
  <a href="{{@blog.url}}" class="navbar-brand headerurl">{{@blog.title}}</a>
  <div id="navbarNav">
    <ul class="navbar-nav ml-auto">

                <!-- Loop through the navigation items -->
        {{#foreach navigation}}
        <li class="menu-item{{#if current}} active{{/if}}">
            <a href="{{url absolute="true"}}" class="nav-link">{{label}}</a>
        </li>
        {{/foreach}}
        <!-- End the loop -->
    </ul>
  </div>
</nav>

{{#is "index, home"}}
{{#if @blog.cover_image}}

  <img src="{{@blog.cover_image}}" alt="Cover image" class="cover-image" /></a>

{{/if}}

  <div class="top-socials">
        <a href="{{@blog.url}}/rss" target="_blank"><i class="fas fa-rss fa-2x"></i></a>
        {{#if @blog.facebook}}
          <a href="{{facebook_url @blog.facebook}}" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
        {{/if}}
        {{#if @blog.twitter}}
          <a href="{{twitter_url @blog.twitter}}" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        {{/if}}  
  </div>
{{/is}}
</header>
