<ul class="pagination d-flex justify-content-center" role="pagination">
    {{#if prev}}
        <li><a href="{{page_url prev}}">{{prev}}</a></li>
    {{/if}}

    <li class="active">{{page}}</li>
    {{#if next}}
        <li><a href="{{page_url next}}">{{next}}</a></li>
    {{/if}}
</ul>