<div class="col s12 m12 l4 hide-on-med-and-down sidebar">
{{#if @labs.publicAPI}} <!-- checks if the public API is active in the labs section as it's needed for this item -->
<div class="card card-sidebar"><!-- start of a sidebar item -->
  <h1 class="text-left-title-featured-sidebar accentcolor2 center-align">Recent</h1>
    <ul class="collection">
    {{#get "posts" limit="4" as |recents|}}
          {{#foreach recents}}
              <li class="collection-item"><a href="{{url}}">{{title}}</a></li>
          {{/foreach}}
    {{/get}}
  </ul>
</div><!-- end of sidebar item -->
{{/if}}

  {{#if @labs.publicAPI}} <!-- checks if the public API is active in the labs section as it's needed for this item -->
<div class="card card-sidebar"><!-- start of a sidebar item -->
  <h1 class="text-left-title-featured-sidebar accentcolor2 center-align">Most used tags</h1>
    <ul class="collection">
    {{#get "tags" limit="5" include="count.posts" order="count.posts desc"}}
          {{#foreach tags}}
              <li class="collection-item"><a href="/tag/{{slug}}">{{name}} <span class="badge">{{count.posts}}</span></a></li>
          {{/foreach}}
    {{/get}}
  </ul>
</div><!-- end of sidebar item -->
{{/if}}
</div>
