<div class="col s12 m4 l4 d-xs-none d-sm-none d-md-block sidebar">
   {{#if @labs.publicAPI}} <!-- checks if the public API is active in the labs section as it's needed for this item -->

   {{#is "post, page"}}

<div><!-- start of a sidebar item -->
   <h1 class="text-left-title-featured-sidebar">{{t "Related"}}</h1>       
          <ul class="collection">
            {{#get "posts" limit="5" filter="tags:[{{post.tags}}]+id:-{{post.id}}" include="tags" as |related| }}
                    {{#foreach related}}
                         <a href="{{url}}"><li class="collection-item">{{title}}</li></a>
                    {{/foreach}}
            {{/get}}
          </ul>
  </div><!-- end of sidebar item -->
  {{/is}}
      {{/if}}


{{#if @labs.publicAPI}} <!-- checks if the public API is active in the labs section as it's needed for this item -->
   {{#is "post, page"}}
<div><!-- start of a sidebar item -->
  <h1 class="text-left-title-featured-sidebar">{{t "Recent"}}</h1>
    <ul class="collection">
    {{#get "posts" limit="3" as |recents|}}
          {{#foreach recents}}
              <a href="{{url}}"><li class="collection-item"><img class="responsive-img" src="{{#if feature_image}}{{img_url feature_image}}{{else}}{{asset "images/no-pic-available.jpg"}}{{/if}}" title="{{title}}" alt="Header image of {{title}}" />{{title}}</li></a>
          {{/foreach}}
    {{/get}}
  </ul>
</div><!-- end of sidebar item -->
  {{/is}}
{{/if}}

</div><!-- end of sidebar -->
