<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="{{lang}}">
  <head>

    <title>{{meta_title}}</title>
    <meta name="description" content="{{@blog.description}}" />

    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />

    {{! Responsive Meta Tags }}
    <!-- own stylesheet for general stuff -->
    <link rel="stylesheet" href="{{asset "css/style.css"}}">
    <!-- other used items -->
    <link href='//fonts.googleapis.com/css?family=Slabo+27px:400,700' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<!-- main navigation -->
{{navigation}}
  {{#post}}
        <div class="post-image">
          <img class="posthead-image" src="{{#if feature_image}}{{img_url feature_image}}{{else}}{{asset "images/no-pic-available.jpg"}}{{/if}}" title="{{title}}" alt="Header image of {{title}}" />
        </div>
  {{/post}}
<main class="{{body_class}}">

<div class="container-fluid">

       {{{body}}}

</div><!-- container fluid END! -->
</main>

<footer class="page-footer white">
      <!-- social media icons in footer -> partials/social.hbs -->
    {{> 'ui/footer'}}
</footer>
<!-- Compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript"> 
      $(document).ready(function(){
     
        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 300
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true // Choose whether you can drag to open on touch screens
          }
        );
      
      });
        
</script>
{{ghost_foot}}
</html>
