{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
{{! test {{{image}}

                    {{#foreach posts}}
                    <div class="row card">
                      <img class="content-images" src="http://www.msf-me.org/en/media/get/20100902_img-test.jpg" />
                                    <article>
                                    <h1 class="text-left-title"><a href="{{url}}">{{title}}</a></h1>
                                    <h3>
                                    <p class="text-right postdate">{{date format='YYYY-MM-DD'}}</p>
                                    {{#if tags}}
                                        <p class="text-right postdate">
                                        Tags: {{tags separator=" | "}}
                                        </p>
                                        {{/if}}
                                    </h3>
                                        <p class="text-justify">{{excerpt}}...</p><br />

                                </article>
                      </div>
                    {{/foreach}}
