{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

  <div class="maincontent">
                        <div class="row featured">
                    {{#foreach posts}}
                    {{#if featured}}


                      <div class="col s4">
                          <article>
                            <a href="{{url}}"><img class="content-images-featured" src="{{#if image}}{{image}}{{else}}{{@blog.cover}}{{/if}}" />


                                </a>
                                <h3 class="postdate">
                                <p class="text-left postdate postdate-featured"><i class="fa fa-user">{{author}}</i><i class="fa fa-star">Featured</i></p>
                                {{#if tags}}
                                    <p class="text-left postdate">
                                    Tags: {{tags separator=" | "}}
                                    </p>
                                    {{/if}}
                                </h3>
                                      <h1 class="text-left-title-featured blue darken-4"><a href="{{url}}">{{title}}</a></h1>

                                </article>
                      </div>


                    {{/if}}
                    {{/foreach}}
                    </div>
                    {{#foreach posts}}
<!--                    {{#unless featured}} -->
                    <div class="card">
                          <article>
                            <a href="{{url}}"><img class="content-images" src="{{#if image}}{{image}}{{else}}{{@blog.cover}}{{/if}}" />

                                </a>

                                      <h1 class="text-left-title blue darken-4"><a href="{{url}}">{{title}}</a></h1>
                                    <h3>
                                    <p class="text-left postdate"><i class="fa fa-user">{{author}}</i> <i class="fa fa-calendar"></i> {{date format='YYYY-MM-DD'}}</p>
                                    {{#if tags}}
                                        <p class="text-left postdate">
                                        Tags: {{tags separator=" | "}}
                                        </p>
                                        {{/if}}
                                    </h3>
                                    <hr>
                                        <p class="text-justify">
                                      {{content words="0"}}
                                          {{excerpt}}...
                                        </p><br />
                                        <a class="waves-effect waves-light btn blue darken-4" id="read_more_custom" href="{{url}}">...</a>
                            </article>
                      </div>
<!--                      {{/unless}} -->
                    {{/foreach}}
                  </div>
