{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
                    {{#foreach posts}}
                    <img src={{image}} />
                    <div class="row card">
                                    <article>
                                    <h1 class="text-left-title posttheme"></i><a href="{{url}}">{{title}}</a></h1>
                                    </h4>
                                    <p class="text-right postdate">{{date format='YYYY-MM-DD'}}</p>
                                    {{#if tags}}
                                        <p class="text-right postdate">
                                        Tags: {{tags separator=" | "}}
                                        </p>
                                        {{/if}}
                                    </h4>
                                        <p class="text-justify">{{excerpt}}...</p><br />

                                </article>
                                <hr>
                      </div>
                    {{/foreach}}
