{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="row">
<div class="main-content col s12 m12 l8">

    <div class="row featured hide-on-small-only">
    <h1 class="text-left-title-featured blue darken-4">Trending</h1>
    {{#get "posts" limit="4" filter="featured:true" order="published_at desc" as |featured| }}
      {{#foreach featured}}
          <div class="col m6">
              <article class="hoverable">
                <a href="{{url}}"><img class="content-images-featured" src="{{#if image}}{{image}}{{else}}{{asset "images/no-pic-available.jpg"}}{{/if}}" />
                    </a>
                          <h1 class="text-left-title-featured blue darken-3"><a href="{{url}}">{{title}}</a></h1>
                    </article>
          </div>
     {{/foreach}}
     {{/get}}
    </div>
    <h1 class="text-left-title-featured blue darken-4">Latest posts</h1>
    {{> basic-card}}
</div>
    {{> sidebar}}
</div>
