{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

  <div class="maincontent">
                    <div class="row featured">
                    {{#foreach posts}}
                    {{#if featured}}
                    {{#get "posts" filter="featured:true" limit="3" as |featured|}}

                      <div class="col s4">
                          <article>
                            <a href="{{url}}"><img class="content-images-featured" src="{{#if image}}{{image}}{{else}}{{@blog.cover}}{{/if}}" />
                                </a>
                                <h3 class="postdate">
                                <p class="text-left postdate postdate-featured"><i class="fa fa-user">{{author}}</i><i class="fa fa-star">Featured</i>
                                </p>
                                </h3>
                                      <h1 class="text-left-title-featured blue darken-4"><a href="{{url}}">{{title}}</a></h1>
                                </article>
                      </div>

                    {{/get}}
                    {{/if}}
                    {{/foreach}}
                    </div>
                    {{#foreach posts}}
                    {{#unless featured}}
                    <div class="card">
                      <article>
                        <h1 class="text-left-title blue darken-4"><a href="{{url}}">{{title}}</a></h1>
                            <div class="card-left">
                              <a href="{{url}}"><img class="content-images" src="{{#if image}}{{image}}{{else}}{{@blog.cover}}{{/if}}" />
                                </a>
                          </div>
                          <div class="card-right">
                                    <p class="text-left postdate"><i class="fa fa-user">{{author}}</i> <i class="fa fa-calendar"></i> {{date format='YYYY-MM-DD'}}
                                    </p>
                                    <p class="text-justify">
                                          {{excerpt}}...
                                        </p>
                                        {{#if tags}}
                                        {{#foreach tags}}
                                            <div class="chip">
                                            <a href="{{@blog.url}}/tag/{{name}}">{{name}}</a>
                                            </div>
                                        {{/foreach}}
                                        {{/if}}
                                        <a class="waves-effect waves-light btn blue darken-4" id="read_more_custom" href="{{url}}">...</a>
                          </div>
                      </article>
                      </div>
                      {{/unless}}
                    {{/foreach}}
                  </div>
