{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="row">
<div class="main-content col s12 m12 l9 individual-post">
{{#post}}
<div class="card">
  <article>
    <img class="content-images-individual" src="{{#if image}}{{image}}{{else}}{{asset "images/no-pic-available.jpg"}}{{/if}}"/>
    <h1 class="text-left-title"><a href="{{url}}">{{title}}</a></h1>
        <div class="col s12 individual-post">
          <p class="text-justify-individual">{{content}}</p>

              {{#if tags}}
                <div class="tags">
                    {{#foreach tags}}
                        <div class="chip blue darken-4">
                        <a href="{{@blog.url}}/tag/{{name}}">{{name}}</a>
                        </div>
                    {{/foreach}}
                </div>
              {{/if}}
              {{> author-section}}


              {{> disqus}}
      </div>

  </article>
  </div>
{{/post}}
</div>
{{> sidebar}}
</div>
