{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="row">
<div class="main-content col s12 m12 l9">
{{#post}}
<div class="card card-error big">
  <article>
    <img class="content-images-individual" src="{{#if image}}{{image}}{{else}}{{asset "images/no-pic-available.jpg"}}{{/if}}"/>
    <h1 class="text-left-title blue darken-4"><a href="{{url}}">{{title}}</a></h1>
        <div class="col s12">
          <p class="text-justify-individual">{{content}}</p>

              {{#if tags}}
                <div class="tags">
                    {{#foreach tags}}
                        <div class="chip blue darken-4">
                        <a href="{{@blog.url}}/tag/{{name}}">{{name}}</a>
                        </div>
                    {{/foreach}}
                </div>
              {{/if}}

              {{#author}}
                <section class="author-profile">
                  <h4 class="text-left-title blue darken-4">Article written by</h4>
                  {{#if image}}
                  <img src="{{image}}" alt="author image" class="avatar"/>
                  {{/if}}
                  <h3 class="author-title"><a href="{{url}}">{{name}}</a></h3>
                  <strong>About {{name}}</strong>
                  <p class="author-bio">
                  {{#if bio}}{{bio}}{{else}}No bio information available{{/if}}
                  </p>
                </section>
              {{/author}}

              {{> disqus}}
      </div>

  </article>
  </div>
{{/post}}
</div>
{{> sidebar}}
</div>
