{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
                {{#post}}
                                    <article>
                                      <img class="content-images-individual" src="{{#if image}}
                                        {{image}}
                                      {{else}}
                                          {{@blog.cover}} {{/if}}"/>

                                    <h1 class="text-left-title blue darken-4"></i>{{title}}</h1>
                                    <h4 class="text-left-title-featured blue darken-4"><p class="text-left postdate"><i class="fa fa-user fa-2x"></i> {{author}} {{#if featured}}<i class="fa fa-star fa-2x"></i> Featured{{/if}} <i class="fa fa-calendar fa-2x"></i>{{date format='DD-MM-YYYY'}}</p>
                                    </h4>
                                    <p class="text-justify-individual">{{content}}</p>
                                    <br />
                                    {{#if tags}}
                                    <div class="tags">
                                    {{#foreach tags}}
                                        <div class="chip">
                                        <a href="{{@blog.url}}/tag/{{name}}">{{name}}</a>
                                        </div>
                                    {{/foreach}}
                                  </div>
                                    {{/if}}
                                        {{> disqus}}


                                    </article>
                {{/post}}
