{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="row row-post">
  {{#post}}
      <div class="col s12 m8 l8">
      <article>
        <div class="post-head">
              <h1 class="center">{{title}}</h1>
              <div class="post-subitems center">
                <i class="fa fa-clock-o"></i><time datetime="{{date format="DD-MM-YYYY"}}">{{date format="DD MMMM YYYY"}}</time>
                <i class="fa fa-user" aria-hidden="true"></i>{{author}}
              </div>
        </div>
      {{#if tags}}
        <div class="tags center-align hide">
          <div class="waves-effect waves-light chip accentcolor2">
          Tags:
          </div>
        {{#foreach tags}}
            <div class="waves-effect waves-light chip grey">
            <a href="{{@blog.url}}/tag/{{name}}">{{name}}</a>
            </div>
        {{/foreach}}
      </div>
      {{/if}}<!-- end tags if -->
      <hr />
      <div class="post-content">
        <p>{{content}}</p>
      </div>
      <hr />
         {{> 'post/author-section'}}
      </article>
    </div>
{{/post}}
        {{> 'ui/sidebar'}}

</div>
