{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
                {{#post}}
                                    <article>
                                      <img class="content-images-individual" src="{{#if image}}{{image}}{{else}}{{asset "images/no-pic-available.jpg"}}{{/if}}"/>

                                    <h1 class="text-left-title blue darken-4"></i>{{title}}</h1>
                                    <h4 class="text-left-title-featured blue darken-4"><p class="text-left postdate">{{#if featured}}<i class="fa fa-star"> Featured</i>{{/if}} <i class="fa fa-calendar fa-2x"></i>{{date format='DD-MM-YYYY'}}</p>
                                    </h4>
                                    <p class="text-justify-individual">{{content}}</p>
                                    <br />
                                    {{#if tags}}
                                    <div class="tags">
                                    {{#foreach tags}}
                                        <div class="chip blue darken-4">
                                        <a href="{{@blog.url}}/tag/{{name}}">{{name}}</a>
                                        </div>
                                    {{/foreach}}
                                  </div>
                                    {{/if}}

                                    {{#author}}
                                      <section class="author-profile">
                                        <h4 class="text-left-title blue darken-4">Article written by <a href="{{url}}"> {{name}}</a></h4>
                                        {{#if image}}
                                        <img src="{{image}}" alt="author image" class="avatar"/>
                                        {{/if}}
                                        <p class="author-bio">
                                        <strong>About {{name}}</strong><br />
                                        {{#if bio}}{{bio}}{{else}}No bio information available{{/if}}
                                        </p>
                                      </section>
                                    {{/author}}
                                  <div class="post-switcher">
                                  <div class="previous-post">
                                    {{#prev_post}}
                                      <a class="waves-effect waves-teal btn-flat blue darken-4" href="{{url}}"><i class="fa fa-arrow-left fa-2x"></i> {{title}}</a>
                                    {{/prev_post}}
                                  </div>
                                  <div class="next-post">
                                    {{#next_post}}
                                      <a class="waves-effect waves-teal btn-flat blue darken-4" href="{{url}}"><i class="fa fa-arrow-right fa-2x"></i> {{title}}</a>
                                    {{/next_post}}
                                  </div>
                                </div>
                                        {{> disqus}}
                                    </article>
                {{/post}}
