{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="row">
<div class="col s12 m12 l8 main-content">
{{#post}}
      <article class="card">
      <img class="content-images-individual responsive-img" title="{{title}}" alt="{{title}}" src="{{#if image}}{{image}}{{else}}{{asset "images/no-pic-available.jpg"}}{{/if}}"/>

      <h1 class="text-left-title center-align"></i>{{title}}</h1>
      <h4 class="text-left-title-featured-slider center-align">
        <p class="postdate center-align">
          {{#author}}{{#if twitter}}<i class="fa fa-twitter"></i><a href="{{twitter_url}}" target="_blank">{{twitter}}</a>{{/if}}{{/author}}
          {{#author}}{{#if facebook}}<i class="fa fa-facebook"></i><a href="{{facebook_url}}" target="_blank">{{facebook}}</a>{{/if}}{{/author}}
          <i class="fa fa-calendar"></i><time datetime="{{date format="DD-MM-YYYY"}}">{{date format="DD MMMM YYYY"}}</time>
          <i class="fa fa-user-secret"></i>{{#author}}<a class="author-url-post-head" href="{{url}}">{{name}}</a>{{/author}}
        </p>
      </h4>
      <p class="text-justify-individual">{{content}}</p>
      <br />
      {{#if tags}}
      <div class="tags center-align">
      {{#foreach tags}}
          <div class="waves-effect waves-light btn accentcolor">
          <a href="{{@blog.url}}/tag/{{name}}">{{name}}</a>
          </div>
      {{/foreach}}
    </div>
      {{/if}}
<!--        <div>
          <h1 class="text-left-title-featured-sidebar accentcolor center-align"></i>Need something else to read?</h1>
          <div id="random-posts-list">
            {{! content of 'randompost.js' gets entered here! }}
          </div>
        </div>
-->
  {{> 'post/author-section'}}
{{! Disqus should be included right below this tag; for more information about this check the readme }}
      </article>
{{/post}}
</div>
    {{> 'ui/sidebar'}}
</div>
