{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
{{#tag}}
<div class="tag_heading">
<h1>{{name}}</h1>
<hr />
</div>
{{/tag}}

{{#foreach posts}}
<div class="card">
  <article>
    <h1 class="text-left-title blue darken-4"><a href="{{url}}">{{title}}</a></h1>
        <div class="card-left col s12 m12 l3">
          <a href="{{url}}"><img class="content-images" src="{{#if image}}{{image}}{{else}}{{asset "images/no-pic-available.jpg"}}{{/if}}" />
            </a>
      </div>
      <div class="card-right col s12 m12 l9">
                <p class="text-justify">
                      {{excerpt}}...
                <a class="waves-effect waves-light btn blue darken-4" id="read_more_custom" href="{{url}}">...</a>
                </p>
      </div>
  </article>
  </div>

{{else}}

<div class="card card-error big">
  <article>
    <h1 class="text-left-title blue darken-4">Whoops...</h1>
        <div class="col s12">
          <p>There are no posts within this tag<p>
      </div>
  </article>
  </div>
{{/foreach}}
