{{#author}}
  <section class="author-profile" style="background-image: url('{{cover}}');">
    <p class="author-bio">
    {{#if image}}<img src="{{image}}" class="avatar responsive-img" title="{{title}}" alt="Image of {{name}}"/>{{/if}}
    <strong>{{name}}</strong><br />
    {{#if bio}}{{bio}}{{else}}-{{/if}}
  </p>
  <!-- <div class="socialauthor">
    <ul>
    {{#if twitter}}<li><i class="fa fa-twitter"></i><a href="{{twitter_url}}" target="_blank">{{twitter}}</a></li>{{/if}}
    {{#if facebook}}<li><i class="fa fa-facebook"></i><a href="{{facebook_url}}" target="_blank">{{facebook}}</a></li>{{/if}}
    </ul>
  </div> -->
  </section>
{{/author}}
