{{#primary_author}}
  <section class="author-profile">
  {{#if profile_image}}<img src="{{img_url profile_image}}" class="avatar" title="{{title}}" alt="Image of {{name}}"/>{{/if}}
    <p class="author-bio">
    <strong class="author-name">{{name}}</strong>
  <br />
    {{#if bio}}
        {{bio}}
    {{else}}
    {{t "Whoops...that's not looking good. People have no idea who you are?!"}}
    
    {{/if}}
  </p>
  </section>
{{/primary_author}}
