{{#primary_author}}
<section class="author-profile">
<div class="row">
    <div class="col col-sm-2 col-md-2">
        {{#if profile_image}}<img src="{{img_url profile_image}}" class="avatar" title="{{title}}" alt="Image of {{name}}"/>{{/if}}
    </div>
    <br />
    <b class="text-center">{{name}}</b>
    <br />
    <div class="col col-sm-10 author-bio-text">
      {{#if bio}}
          {{bio}}
      {{else}}
          {{t "Whoops...that's not looking good. People have no idea who you are?!"}}
  
      {{/if}}
    </div>
</div>
</section>

{{/primary_author}}
