{{#author}}
  <section class="author-profile">
    {{#if image}}
    <img src="{{image}}" class="avatar left" title="{{title}}" alt="Image of {{name}}"/>
    {{/if}}
    <p class="author-bio">
    <strong>{{name}}</strong><br />
    {{#if bio}}{{bio}}{{else}}-{{/if}}
  </p>
  <br />
  </section>
{{/author}}
