<div class="row">
{{#foreach posts}}

      <div class="col s12 m6 l4 post-item-main">
            <span class="badge">
              <time datetime="{{date format="DD-MM-YYYY"}}">{{date format="DD MMMM YYYY"}}</time>
            </span>
            <img src="{{#if feature_image}}{{img_url feature_image}}{{else}}{{asset "images/no-pic-available.jpg"}}{{/if}}" class="homepage-image">          
        <div class="caption-image">
          <a href="{{url}}">{{title}}</a>

        </div>

      </div>

{{/foreach}}
</div>
