{{#get "posts" limit="5" filter="featured:true" order="published_at desc" as |featured| }}
<div class="slider">
    <ul class="slides">
        {{#foreach featured}}
      <li>
        <a href="{{url}}"><img class="content-images-featured responsive-img" src="{{#if feature_image}}{{img_url feature_image}}{{else}}{{asset "images/no-pic-available.jpg"}}{{/if}}" title="{{title}}" alt="Header image of {{title}}" />
        </a>
        <div class="caption center-align">
          <h1 class="h1-slider">{{title}}</h1>
        </div>
      </li>
      {{/foreach}}
    </ul>
  </div>
  {{else}}
{{/get}}