{{#foreach posts}}
<div class="card hoverable">
  <article>
        <div>
          <a href="{{url}}"><img class="content-images responsive-img" src="{{#if image}}{{image}}{{else}}{{asset "images/no-pic-available.jpg"}}{{/if}}" title="{{title}}" alt="Header image of {{title}}" />
            </a>
      </div>
      <div>
                <h1 class="text-left-title center-align"><a href="{{url}}">{{title}}</a></h1>
                <p class="postdate center-align"><i class="fa fa-clock-o"></i><time datetime="{{date format="DD-MM-YYYY"}}"> {{date published_at timeago="true"}}</time></p>
                <p class="text-justify">
                      {{excerpt}}...
                </p>
      </div>
  </article>
  </div>
{{/foreach}}
