<div class="masonry">

{{#foreach posts}}

    {{#if featured}}
      <div class="item">
            <span class="badge-featured">
              {{t "Featured"}}
            </span>
            <a href="{{url}}">
                <img src="{{#if feature_image}}{{img_url feature_image}}{{else}}{{asset "images/no-pic-available.jpg"}}{{/if}}" class="homepage-image post-featured">          
            
                <h2 class="caption-image">{{title}}</h2>
          </a>

      </div>
    {{else}}
 



   <div class="item">
        <a href="{{url}}">
              <img src="{{#if feature_image}}{{img_url feature_image}}{{else}}{{asset "images/no-pic-available.jpg"}}{{/if}}" class="homepage-image">          
              <h2 class="caption-image">{{title}}</h2> 
             
        </a>
   </div>

    {{/if}}
{{/foreach}}


</div>
