<div class="row">

{{#foreach posts}}


          <div class="card col s12 m12 l6">
             <a href="{{url}}">
                <img src="{{#if feature_image}}{{img_url feature_image}}{{else}}{{asset "images/no-pic-available.jpg"}}{{/if}}" class="homepage-image">          
          </a>
            <div class="card-block">
              {{#if featured}}
                  <span class="badge-featured">
                    {{t "Featured"}}
                  </span>
              {{/if}}
              <h2 class="card-title">{{title}}</h2>
              <p class="card-text">{{excerpt words="20"}}...</p>
                <div class="spacer"></div>
                <div class="card-actions-bottom">
                  <a href="{{url}}" class="btn btn-primary read-more-btn">{{t "Read"}}</a>
                    <small class="text-muted badge">
                        <time datetime="{{date format="DD-MM-YYYY"}}">{{date format="DD MMMM YYYY"}}</time>
                  </small>
                </div>
            </div>
          </div>  

{{/foreach}}

</div>